<div class="fatherGallery">
  <div class="divAnimes">
    <h2>Animes populares esta semana</h2>
    <app-gallery class="gallery" [list]="animes"></app-gallery>
  </div>
  <div class="divAnimes1">
    <h2>Animes más esperados</h2>
    <app-gallery class="gallery" [list]="animes1"></app-gallery>
  </div>
  <div class="divAnimes2">
    <h2>Animes más populares en emisión</h2>
    <app-gallery class="gallery" [list]="animes2"></app-gallery>
  </div>
  <div class="divAnimes3">
    <h2>Animes mejor evaluados</h2>
    <app-gallery class="gallery" [list]="animes3"></app-gallery>
  </div>
  <div class="divAnimes4">
    <h2>Animes más populares</h2>
    <app-gallery class="gallery" [list]="animes4"></app-gallery>
  </div>
</div>
